<app-nav></app-nav>
<!-- Dashboard Content -->
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3">
            <div class="card bx mb-3">
                <div class="card-body">
                    <h4 class="card-title">215 <small class="text-muted">Employees</small></h4>
                </div>
                <div class="list-group list-group-flush">
                    <a routerLink="../employeelist" class="list-group-item list-group-item-primary">View All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card bx">
                <div class="card-body">
                    <h4 class="card-title">40 <small class="text-muted">Jobs</small></h4>
                </div>
                <div class="list-group list-group-flush">
                    <a routerLink="../joblist" class="list-group-item list-group-item-primary">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard Content -->